<section class="page-card">
  <h1>Contact</h1>

  <div class="muted" style="margin-top:8px;">
    Phone: +995 XXX XX XX XX <br />
    Address: Tbilisi, Georgia <br />
    Email: your&#64;email.com
  </div>
</section>

<section class="contact-map">

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.3332254298703!2d44.77941748554605!3d41.73042011529277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404472c4beaf4adb%3A0x4b0965cedb9b1af1!2sEliava%20Bazaar!5e0!3m2!1sen!2sge!4v1772113822513!5m2!1sen!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>